extends layout

block content
    // API Testing buttons
    if user_id.toString() === "5cbde27650e1537a95fb57ff"
        button#create_read(class="api_test" type="button") Create - Read
        each todo in todos
            button#update(class="api_test" data-todo=todo._id type="button") Update
            button#delete(class="api_test" data-todo=todo._id type="button") Delete
    // Flash messages
    div.wrap__error_msg.py-2.today_message
        while message = flash.shift ()
            span.error_msg.text-center(class="error_msg alert-" + message.type) #{message.message}
    // Todo list main container
    .main_container
        h1(class="text-center title__today text-white mb-3") Today
        div(class="list_wrap")
            each todo in todos
                div(id=todo._id class="entry_item_wrap " + todo.completed.toString ())
                    // Form to update todo status
                    form(action="/today/" + todo.id method="POST")
                        // Hidden field to hold the todo _id
                        input(style="display:none;" type="text" name="todo_id" value=todo._id)
                        // hidden filed to hold the current description
                        input(style="display:none;" type="text" name="currentDesc" value=taskTitle (todo.desc, 23))
                        // hidden field to hold the value of completed property
                        input(style="display:none;" type="text" name="isCompleted" value=todo.completed.toString ())
                        // submit button (checkmark) to update todo status
                        button(type="submit" name="completeTodo_btn" class="hidden complete__todo wrap__icon_info wrap__icon_info--check")
                            span(class="complete__todo wrap__icon_info wrap__icon_info--check")
                                i(class="icon_info fas fa-check " + todo.completed.toString ())
                    // Form to update todo description
                    form(action="/today/" + todo.id method="POST")
                        // Hidden field to hold the todo _id
                        input(style="display:none;" type="text" name="todo_id" value=todo._id)
                        // Todo label
                        input(class="entry_label " + todo.completed.toString () type="text" autocomplete="off"
                            name="updatedTodo" value=taskTitle (todo.desc, 35) required readonly)
                        if !todo.completed
                            span(class="wrap__icon_info wrap__icon_info-edit" name="editTodo")
                                i(class="icon_info fas fa-pencil-alt ")
                        // Hidden button to allow form submission on keypress 'enter'
                        button(type="submit" style="display:none;")
                        // Form to delete todo post
                    form(action="/today/" + todo.id method="POST")
                        // Hidden field to hold the todo _id
                        input(style="display:none;" type="text" name="todo_id" value=todo._id)
                        button(type="submit" todo-action="delete" class="hidden delete__todo wrap__icon_info wrap__icon_info-delete")
                            span(class="delete__todo wrap__icon_info wrap__icon_info-delete" data-todo=todo._id )
                                i(class="icon_info fas fa-trash-alt")
                    //span(class="wrap__icon_info wrap__icon_info-menu")
                    //    i(class="icon_info fas fa-ellipsis-v")
            div(class="empty_entry_item_wrap")
                form(action="/today" method="POST")
                    div(class="empty_entry_label")
                        i(class="fas fa-plus addTodo_placeholder")
                        span(class="addTodo_placeholder") What else do you need todo? ...
                    input(class="new_entry_input" type="text" name="newTodo" autocomplete="off" placeholder="Take over the world ..." required)
                    button(class="all_btn new_entry_btn" name="addTodo" type="submit")
                        i(class="fas fa-plus addTodo")
